{{ define "navLinks" }}
<a class="nav-link" href="/list/overview">Overview</a> | 
<a class="nav-link" href="/list/bugs">Bugs</a> | 
<a class="nav-link" href="/list/milestones">Milestones</a> | 
<a class="nav-link" href="/list/users">Users</a> 
{{ end }}
